@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
:root{
    --yellow:#f5bf23;
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --text-color: #333;
    --light-bg: #eee;
    --bg-color: #fdfdfd;
    --shadow-color: rgba(0,0,0,.2);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid rgba(0,0,0,.3);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background: var(--yellow);
    }
}
@keyframes fadeIn{
    0%{
        top: 50%;
        opacity: 0;
    }
}
.heading{
    margin-bottom: 3rem;
    font-size: 3rem;
    padding-left: 1rem;
    border-left: 1rem solid var(--yellow);
    text-transform: capitalize;
}
.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--bg-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .2s linear;
    text-transform: capitalize;
}
.btn:hover{
    background: var(--yellow);
    color: var(--black);
    border-color: var(--yellow);
}
.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    background: var(--white);
    /* transition: 5s; */
    
    .logo{
        font-size: 2rem;
        font-weight: 600;
        cursor: pointer;
        margin-right: auto;

        span{
            color: var(--yellow);
        }
    }
    .navbar a, .navbar a.active{
        font-size: 1.5rem;
        color: var(--light-color);
        margin:0 1rem;
        /* transition: .2s linear; */

        &:hover{
           color: var(--yellow); 
        }
    }
    .search-form{
        position: absolute;
        top: 120%; left: 50%;
        transform: translateX(-50%);
        width: 70rem;
        background: var(--white);
        box-shadow: var(--box-shadow);
        padding: 1rem;
        display: none;
        align-items: center;
        gap: 1rem;
        animation: fadeIn .2s linear;
    
        &.active{
            display: flex;
        }
    
        input{
          width: 100%;
          padding: 1.2rem 1.4rem;
          background: var(--light-bg);
          font-size: 1.6rem;
          color: var(--light-color);
        }
        label{
          font-size: 2.5rem;
          color: var(--black);
          cursor: pointer;
          
          &:hover{
            color: var(--yellow);
          }
        }
    }
    .user-form{
        position: absolute;
        top: 120%; left: 50%;
        transform: translateX(-50%);
        width: 40rem;
        background: var(--white);
        box-shadow: var(--box-shadow);
        padding: 2rem;
        text-align: center;
        animation: fadeIn .2s linear;
        display: none;

        &.active{
            display: block;
        }

        h3{
            font-size: 2.5rem;
            padding-bottom: 1rem;
            text-transform: capitalize;
        }
        .box{
            width: 100%;
            padding: 1.2rem 1.4rem;
            background: var(--light-bg);
            font-size: 1.6rem;
            color: var(--light-color);
            margin: .7rem 0;
        }
        .flex{
           display: flex;
           align-items: center;
           gap: .5rem;
           padding-top: 1.5rem;
           padding-bottom: 1rem;

           label{
            font-size: 1.5rem;
            color: var(--light-color);
            cursor: pointer;
           }
           a{
            font-size: 1.5rem;
            color: var(--light-color);
            margin-left: auto;
            
            &:hover{
                color: var(--yellow);
                text-decoration: underline;
            }
           }
        }
        .btn{
            width: 100%;
        }
        p{
            font-size: 1.5rem;
            padding-top: 1.5rem;

            a{
                color: var(--yellow);

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
.contact-info{
    position: fixed;
    right: 0; top: 0;
    width: 35rem;
    background: var(--white);
    height: 100%;
    text-align: center;
    z-index: 1100;
    padding: 0 2rem;
    padding-top: 5rem;
    display: none;

    &.active{
        box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
        display: block;
    }

    #close-contact-info{
        position: absolute;
        top: 1rem; right: 1.5rem;
        cursor: pointer;
        font-size: 4rem;
        color: var(--black);

        &:hover{
            transform: rotate(90deg);
        }
    }

    .info{
        padding: 2rem 0;
        i{
            font-size: 3.6rem;
            margin-bottom: .5rem;
        }
        h3{
            font-size: 1.5rem;
            padding: 1rem 0; 
        }
        p{
            font-size: 1.3rem;
        }
    }
    .share{
       padding-top: 2rem;
       border-top: var(--border);
       margin-top: 1rem;

       a{
        font-size: 1.5rem;
        margin: 0 .3rem;
       }
    }
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;  
}
#search-icon{
    font-size: 2rem;
    cursor: pointer;

    &:hover{
        color: var(--yellow);
    }
}
#user-icon{
    font-size: 2rem;
    cursor: pointer;

    &:hover{
        color: var(--yellow);
    }
}
#info-icon{
    font-size: 2rem;
    cursor: pointer;

    &:hover{
        color: var(--yellow);
    }
}
section{
    /* min-height: 100vh; */
    padding: 10rem 10% 2rem;
}
.home{
    padding: 0;

    .slide{
        min-height: 60rem;
        display: flex;
        align-items: center;
        position: relative;
        background-size: cover !important;
        background-position: center !important;

        &::before{
            content: '';
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            background: linear-gradient(90deg, var(--white), transparent);
        }

        .content{
           width: 50rem;
           position: relative;
           
           h3{
            font-size: 6rem;
            text-transform: uppercase;
            color: var(--yellow);
           }
           p{
            font-size: 1.5rem;
            line-height: 2rem;
            padding: 1rem 0;
            color: var(--white);
           }
        }
    }
    .swiper-button-next,
    .swiper-button-prev{
        top: initial;
        bottom: 0;
        left: initial;
        right: 0;
        height: 7rem;
        width: 7rem;
        line-height: 7rem;
        background: var(--white);

        &:hover{
            background: var(--yellow);
        }
    }
    .swiper-button-next::after,
    .swiper-button-prev::after{
        font-size: 2rem;
        color: var(--black);
    }
    .swiper-button-prev{
        right: 7rem;
    }
}
.about{
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;

        .video{
           flex: 1 1 41rem; 

           video{
            width: 100%;
           }
        }
        .content{
            flex: 1 1 41rem;

            h3{
                font-size: 3.5rem;
            }
            p{
                font-size: 1.5rem;
                padding: 1rem 0;
            }
        }
    }
    .box-container{
      margin-top: 2rem;
      grid-row: 7rem;
      align-items: flex-end;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 2.5rem;
      

      .box{
        text-align: center;
        background: var(--light-bg);
        padding: 3rem 2rem;

        h3{
            font-size: 4rem;
        }

        p{
            font-size: 1.5rem;
            padding-top: 2rem;
        }
      }
    }
}
.services{
    background:var(--bg-color);

    .box-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 2.5rem;

        .box{
            text-align: center;
            padding: 3rem;
            background: var(--light-bg);
            box-shadow: var(--box-shadow);
            border: var(--border);

            &:hover img{
                transform: translateY(-1rem);
            }

            img{
                height: 7rem;
                margin-bottom: .5rem;
                border-radius: 90%;
            }
            h3{
                font-size: 1.7rem;
                padding: 1rem 0;
            }
            p{
                font-size: 1.4rem;
            }
        }
    }
}
.projects{
    background: var(--black);

    .heading{
        color: var(--white);
    }

    .box-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 2.5rem;
        grid-row: 30rem;

        .box{
            cursor: initial;

            &:hover .image img{
                transform: scale(1.1);
            }

            .image{
               height: 40rem;
               overflow: hidden;
               
               img{
                height: 100%;
                width: 100%;
                object-fit: cover;
               }
            }
            .content{
              display: flex;
              background: var(--white);
              justify-content: space-between;

              .info{
                padding: 1rem 2rem;

                h3{
                    font-size: 1.7rem;
                    color: var(--text-color);
                }
                p{
                    font-size: 1.5rem;
                    color: var(--black);
                }
              }
              i{
                width: 7.7rem;
                font-size: 3rem;
                background: var(--yellow);
                color: var(--white);
                cursor: pointer;
                text-align: center;
                line-height: 7.5rem;
              }
            }
        }
    }
}
.reviews{
    .slide{
      p{
        padding: 1.5rem;
        background: var(--light-bg);
        position: relative;
        margin-bottom: 3rem;
        font-size: 1.5rem;

        &::before{
            content: '';
            position: absolute;
            bottom: -1rem; left: 2rem;
            height: 2rem;
            width: 2rem;
            background: var(--light-bg);
            transform: rotate(45deg);
        }
      } 
      .user{
        display: flex;
        align-items: center;
        gap: 1.5rem;

        img{
            height: 7rem;
            width: 7rem;
        }
        h3{
            font-size: 2rem;
        }
        .stars{
            padding-top: .5rem;

            i{
                font-size: 1.4rem;
                color: var(--yellow);
            }
        }
      }
    }
}
.pricing{
    background: var(--bg-color);

    .box-container{
        grid-row: 30rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2.5rem;

        .box{
            background: var(--white);
            text-align: center;
            padding: 2rem;
            border: var(--border);
            box-shadow: var(--box-shadow);

            i{
                font-size: 5rem;
                height: 7rem;
                width: 7rem;
                line-height: 7rem;
                border-radius: 50%;
                margin-bottom: 2rem;
                background: var(--yellow);
                color: var(--white);
            }
            h3{
                font-size: 2rem;
                font-weight: normal;
            }
            .price{
                padding: 1rem 0;
                font-size: 5rem;

                span{
                    font-size: 2rem;
                }
            }
            .list{
               padding: 1rem 0;
               
               p{
                padding: 1rem 0;
                font-size: 1.4rem; 
               }
            }
        }
    }
}
.contact{
    background: var(--black);

    .heading{
        color: var(--white);
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .map{
            flex: 1 1 41rem;
            width: 100%;
        }
        form{
            flex: 1 1 41rem;
            background: var(--bg-color);
            padding: 2rem;

            h3{
                font-size: 2.5rem;
                text-transform: capitalize;
            }
            .box{
                margin: .7rem 0;
                width: 100%;
                padding: 1.5rem 0;
                border-bottom: var(--border);
                font-size: 1.6rem;
                color: var(--light-color);

                &:focus{
                    border-color: var(--yellow);
                }
            }
            textarea{
                height: 15rem;
                resize: none;
            }
        }
    }
}
.blogs{
    background: var(--light-bg);

    .slide{
        text-align: center;

        &:hover .image img{
            transform: scale(1.1);
        }

        .image{
            height: 25rem;
            width: 90%;
            overflow: hidden;
            margin: 0 auto;
            margin-bottom: -3rem;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: .2s linear;
            }
        }
        .content{
            padding: 2rem;
            padding-top: 5rem;
            background: var(--white);
            box-shadow: 0 0 1.5rem rgba(0,0,0,.2);

            h3{
                font-size: 2rem;
                text-transform: capitalize;
            }
            p{
                padding: 1rem 0;
                font-size: 1.4rem;
            }
        }
    }
}
.logo-container{
    text-align: center;

    img{
        height: 10rem;
        pointer-events: none;
        user-select: none;
    }
}
.container{
    max-width: 1170px;
    margin: auto;
    text-transform: capitalize;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background: var(--light-color);
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: var(--white);
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: var(--yellow);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 15px;
    color: var(--black);
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all .3s ease;
}
.footer-col ul li a:hover{
    color: var(--yellow);
    padding: 5px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: var(--bg-color);
    margin-right: 10px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--yellow);
    transition: all .5s ease;
}
.footer-col .social-links a:hover{
    color: var(--white);
    background: var(--yellow);
    
}
.footer-col .social-links a i{
    font-size: 1.5rem;
    align-items: center;
}
.footer-col .credit p{
    font-size: 2.3rem;
    margin-bottom: 3rem;
    color: #bbbbbb;
}
/* break points*/
@media(max-width: 1024px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
}
@media (max-width: 991px){
    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--light-color);
    }
    .navbar a.active::before{
        background: var(--light-color);
        opacity: .7;
    }
    section{
        padding: 3rem 2rem;
    }
    .services .box-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .projects .box-container{
        grid-template-columns: repeat(2,1fr);
    }
    .pricing .box-container{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 768px){
    #menu-icon {
        display: block;
    }
    .header{
        padding: 2rem 5%;

        .search-form{
            position: absolute;
            width: 90%;
            height: 100%;
            font-size: 1.4rem;
        }
        .user-form{
            width: 90%;
        }
    }
    .navbar {
        position: absolute;
        top: 99%;
        left: 0; right: 0;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: var(--border);
        border-bottom: var(--border);
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 2rem;
        color: var(--text-color);
    }
    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--text-color);
    }
    .navbar a.active{
        color: var(--light-color);
    }
    .navbar a::before{
        display: none;
    }
    .home .slide{
      justify-content: center;

      .content{
        text-align: center;

        h3{
            font-size: 3rem;
        }
      }
    }
    .about .box-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .projects .box-container{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-col{
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
}